@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Roboto:wght@400;500;700&family=Sarala:wght@400;700&display=swap');
.grid__header{
    display: grid;
    grid-template-columns: 23% 77%;
    min-height: 100vh;
    align-items: start;
}
.grid30{
    background: #2D3E4F;
    height: 500vh;
}
.grid30__h1{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 1px;
    color: #CF404D;
}
.links{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
}
.links__active{
    color: #CF404D;
}
.bg__grid__70{
    background-image: url('./img/IMAGE.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.grid__70__h1{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 44px;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.bg__button{
    background: #CF404D;
    padding: 20px 52px;
}

.button__style{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
    transition: 0.3s ease;
}
.button__style:hover{
    background: white;
    color: black;
}
.burger{
    display: none;
}
.section__heading__h1{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: normal;
    font-size: 31px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    color: #313131;
    }
    .p__this__is{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 30px;
    text-align: center;
    color: rgba(115, 115, 115, 0.74);
    }
    .style__h4{
        font-family: 'Oswald';
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 30px;
    text-transform: uppercase;
    color: #313131;
    }
    .style__p{
        font-family: 'Oswald';
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.74);
    }
    .style__btn{
        font-family: 'Oswald';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #CF404D;
    }
    .red-div__h1{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 30px;
    color: #FFFFFF;
    }
    .red-div__button{
        border: 2px solid #FFFFFF;
        border-radius: 4px;
        font-family: 'Oswald';
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 21px;
        color: #FFFFFF;
    }
@media(max-width:775px) {
    .burger{
        display: block;
    }
    .grid30{
      position: fixed;
      width: 100%;
      min-height: 100vh;
      top: 0;
      bottom: 0;
      transition: 0.3s ease;
    }
    .grid__header{
        display: flex;
    }
   
}